  <footer class="fixed-bottom">
    <div class="container-fluid footerBottom d-flex justify-content-center align-items-center">
      <h6>Made with ❤ by Sibil Sarjam Soren</h6>
    </div>
  </footer>

  </body>
</html>
